.sidenav-container {
  height: 100%;
}
.sidenav {
  border-radius: 0px 30px 0px 0px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.sidenav-container {
  height: calc(98vh - 70px);
  top: 72px !important;
}

#layout-content {
  height: 100%;
}

.item-menu {
  font-size: 15px;
  font-weight: 500;
}

.sub-item-menu {
  font-size: 13px;
}

.sub-item-background {
  background-color: #f9f9f9;
}
.mat-list-base {
  padding-top: 0px;
}

.sidenav {
  width: 250px;
  left: 0;
  top: 65px !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  color: #0a5274;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0a5274;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.list-item {
  padding-left: 0px;
  padding-inline-start: 0px;
  margin: 0px;
}

.mat-list .mat-list-item .mat-list-item-content {
  justify-content: center;
}

.menu.mat-expansion-panel ::ng-deep .mat-expansion-panel-content ::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

mat-expansion-panel-header {
  padding: 0 18px !important;
}

.item-hover:hover {
  background-color: #0a52748a !important;
  color: white !important;
}

.mat-list-base .mat-list-item:hover {
  color: white;
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: transparent !important;
}

::ng-deep .mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: transparent;
}

.sport-svg {
  width: 40px;
  padding-right: 10px;
}
.main-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
