<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>

  </mat-expansion-panel-header>
  <ng-container class="containerFiltros">
    <mat-grid-list cols="3" rowHeight="50px">
      <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input type="text" placeholder="Nome" aria-label="Number" matInput>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Ativo</mat-label>
          <mat-select>

          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
          <button mat-raised-button color="primary">Primary</button>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</mat-expansion-panel> -->
<button mat-button [routerLink]="['/register-customer']">Cadastrar Aluno</button>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element">
      <div>
        <p class="displayed-name">
          {{element.firstName}} {{element.lastName}}
        </p>
        <mat-chip-list aria-label="Situação">
          <mat-chip *ngIf="element.active" class="chip active-chip" selected>Ativo</mat-chip>
          <mat-chip *ngIf="!element.active" class="chip inactive-chip" selected>Inativo</mat-chip>
        </mat-chip-list>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="contato">
    <th mat-header-cell *matHeaderCellDef> Contato </th>
    <td mat-cell *matCellDef="let element">
      <div class="contact">
        <p class="email">
          {{element.email}}
        </p>
        <p class="phone">
          {{element.primaryPhone}}
        </p>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef> Idade </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>
  <ng-container matColumnDef="modalidade">
    <th mat-header-cell *matHeaderCellDef> Matrícula </th>
    <td mat-cell *matCellDef="let element"> {{element.classes[0].name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- (click)="selectRow(row,columns)">
  </tr> -->
</table>
<mat-paginator [length]="totalCustomers" (page)="changePage()" [pageSizeOptions]="[10, 20, 50, 9999]"
  showFirstLastButtons></mat-paginator>
